@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:400');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #4d4d4d;
    height: 60px;
}
.logo{
	color: #ffff00;
	font-family: 'Indie Flower', cursive;
	float: left;
	padding-top: 15px;
	font-size: 20px;
}

.container{
	width: 980px;
	margin: 0 auto;	
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
th {
	background: #AFCDE7;
	color: white;
	
}
th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	padding: 10px 20px;
}
td {
	background: #D8E6F3;
}
.add_books{
	background: #fed136;
	color: #000;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	margin-top: 10px;
}
.add_books:hover{
	background: #fed199;
}
table span.del{
	color: #700;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}
table span.rem{
	color: #0000FF;
    cursor: pointer;
    font-size: 20px;
}
.modal {
  display: block;
  width: 600px;
  max-width: 100%;   
  position: fixed;
  z-index: 100; 
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%); 
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: block;
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
 right: 20px;
  
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

input[type="text"], input[type="email"] {
  width: 90%;
  padding: 10px 15px;
  border-width: 0;
  background: #e6e6e6;
  outline: none;
  margin: 10px;
}

input[type="text"]:focus, input[type="email"]:focus {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}
form label,form span {
  display: block;
  font-size: 18px;
  margin: 10px;
}
.send{
	border: 0;
	background: black;
	color: white;
	margin: 10px;
	padding: 5px 10px;
	font-size: 1.3rem;
}
.modal h1{
	margin: 10px;
}
a { 
    text-decoration: none;
} 